.products-widget {
    margin-bottom: 20px;
}

// Product Heading
.product-heading {
    padding: 0 15px 5px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid #ddd;
}

// Product & list
.productRadioListItem {
    position: relative;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    //Apply Golden border style - Tu Nguyen
    .golden-border & {
        &.checked-item {
            border-width: 1px;
            border-color: #858585;
            box-shadow: none;
            margin-top: 15px;
        }
    }
    &.highlight-item {
        .golden-border & {
            border-width: 3px;
            border-image: linear-gradient(to right,#bd8f2f 0,#f9f1b2 66%,#bd8f2f 100%);
            -webkit-border-image: linear-gradient(to right,#bd8f2f 0,#f9f1b2 66%,#bd8f2f 100%);
            border-image-slice: 1;
            background-color: #fffefa;
        }
        .halloween & {
            position: relative;

            border: 0px;
            border-radius: 3px;
            background-color: #F3FDFF;
            overflow: hidden;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                border: 3px solid #ccc;
                border-image: linear-gradient(to right,#009fea 0,#006ec4 60%,#0047a6 100%);
                -webkit-border-image: linear-gradient(to right,#009fea 0,#006ec4 60%,#0047a6 100%);
                border-image-slice: 1;
            }
        }
    }
    &.golden-border-item {
        border-width: 3px;
        border-image: linear-gradient(to right,#bd8f2f 0,#f9f1b2 66%,#bd8f2f 100%);
        -webkit-border-image: linear-gradient(to right,#bd8f2f 0,#f9f1b2 66%,#bd8f2f 100%);
        border-image-slice: 1;
        background-color: #fffefa;
    }
    //End - Tu Nguyen
    &.default {
        background-color: #fef46e;
        label {
            font-weight: bold;
            .best-seller-text {
                display: block;
                color: red;
                text-transform: uppercase;
            }
        }
    }
    .spanUnitDiscountRate {
        display: inline;
    }
}

.js-list-group {
    padding: 0 15px 10px;
    ul {
        padding-left: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        li {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 3px;
            width: calc(~"100% / 3 - 10px");
            color: black;
            cursor: pointer;
            -webkit-transition: all 150ms ease;
            -o-transition: all 150ms ease;
            transition: all 150ms ease;
            &:hover,
            &.active {
                border-color: #10558c;
            }
        }
    }
}

input[name="product"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

// Secure Process
.secure-process-common {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
    .w_main_title {
        padding: 10px;
        background-color: #333;
        color: white;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.25;
        margin-bottom: 0;
        .text {
            position: relative;
            display: inline-block;
            padding-left: 25px;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 20px;
                height: 21px;
                margin-top: -10px;
                background: url("//d16hdrba6dusey.cloudfront.net/sitecommon/images/secure/secure-icon.png") no-repeat 0 0 ~"/ contain";
            }
        }
    }
    .w_thumb {
        padding: 15px 10px;
        background-color: #eee;
        text-align: center;
    }
    @media (min-width: 375px) {
        .w_main_title {
            padding: 12px 10px;
            font-size: 15px;
            .text {
                padding-left: 38px;
                &:before {
                    width: 31px;
                    height: 32px;
                    margin-top: -16px;
                }
            }
        }
    }
}
